# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so


# Environments
.env
.venv


# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
*.pdf
# OS
.DS_Store
Thumbs.db

# Project specific
*.pdf
*.png
*.jpg
*.jpeg
*.gif
!templates/*.png
!templates/*.jpg

train_data/

# MLOps artifacts
data/
mlruns/
plots/
results/
*.tar.gz
.coverage
